{% extends 'base_f/base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block content %}
    <h1 style="width: 100%">
        {% block title %} Edit amount
        {% endblock title  %}
    </h1>
    <body>
        <form method="post">
        <p>
            <label for="amount">Ksh:</label>
            <input type="number" name="amount"
                   value="{{ deposit.amount }}"
                   placeholder="Ksh.">
            </input>
        </p>
        <p>
            <button type="submit">Edit</button>
            
            <button><a href="{{url_for('register.deposit', depo_id=register.id)}}">cancel</a></button>
        </p>
    </form>
    </body>
    {% endblock %}