/* Header style */
header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 90px;
  width: 100%;
}

[data-theme="dark"] header {
  background: #1e293b;
  border-bottom-color: #334155;
}