* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('search.jpg');
  background-position: left;
  background-repeat: no-repeat;
  float:right;
  width: 50%;
  font-size: 16px;
  padding: 10px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li p{
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;  
  color: black;
  display: block
}

#myUL li p:hover:not(.header) {
  background-color: #eee;
}