{% from 'macros.html' import display_tags %}
{% extends 'base_f/base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} Contribution  for {{ event.name }} {% endblock %}</h1>
    </span>
    <div class="register" style="width: 25%;height: 2px;" id="myUL">
        {% for member in event.contribute %}
        <div id="myUL">
        <li>
            <p><a href="{{url_for('deposit.deposit', depo_id = member.id)}}">{{member.transaction_ref}}</a>
                {{member.payment_type}}:  {{member.amount}}
            </p>
            <hr>
        </li>
    </div>
    {%endfor%}
    </div>
    
{% endblock %}