{% extends 'base_f/base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
    <h1 style="width: 100%">{% block title %} Add Wife {% endblock %}</h1>
    <form method="post">
        <div class="row">
            <div class="col-25">
                <label for="firstname">First Name:</label>
            </div>
            <div class="col-75">
            <input type="text" id="firstname" name="firstname" placeholder="First Name">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lastname">Last Name:</label>
            </div>
            <div class="col-75">
                <input type="text" id="lastname" name="lastname" placeholder="Last Name"><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="surname">Surname:</label>
            </div>
            <div class="col-75">
                <input type="text" id="surname" name="surname" placeholder="Surname"><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="date_of_birth">Date of birth: </label>
            </div>
            <div class="col-75">
                <input type="date" id="date_of_birth" name="date_of_birth" placeholder="date_of_birth">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="phone_num">Phone Number: </label>
            </div>
            <div class="col-75">
                <input type="number" id="phone_num" name="phone_num" placeholder="Phone Number">
            </div>
        </div>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-25">
                <label for="id_number">ID Number: </label>
            </div>
            <div class="col-75">
                <input type="number" id="id_number" name="id_number" placeholder="id number">
            </div>
        </div>
        <hr><br>

        <p>
            <button type="submit">Save</button>
            <button><a href="{{url_for('register.index')}}">cancel</a></button>
        </p>
    </form>
{% endblock %}