{% extends 'base_f/base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block content %}
<span class="title"><h1>{% block title %}Registered Members{% endblock %}</h1></span>
<br> 
    <div id="myUL" class="content">
        {% for register in user.family %}
            <li class="content">
            <p>{{ register.id }}: {{ register.firstname}} {{ register.lastname }} </br>
              ID number: {{ register.id_number }} </br>
              Created at: {{ register.created_at }}</br> </p>
            <p></br>
            <hr>
            <a href="{{url_for('register.deposit', depo_id = register.id)}}">
                <button>Profile</button>
            </a>
            </li>
        {% endfor %}
    </div>

{% endblock %}