{% extends "base.html" %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}

{% if image_list|length == 0 %}
  <p>Add some Images to the Gallery</p>
  {% else %}
  {% for image in image_list %}
  <figure><img style="float: left;height: 100px; border-radius: 15%;" src="data:;base64,{{image}}" alt="user"><figcaption></figcaption></figure>
  {%endfor%}
  {%endif%} 
  <a href="{{url_for('main.uploadNew', img_id=img.id)}}" style="float: right;"><button>upload new image</button></a>
<h1 class="title">
  <br><br><br>
  <b>Welcome, {{ name }}!</b>
  <br>
</h1>
<div class="content">
Email: {{ email }}<br>
Contact: {{ contact }} <br>
</div></b>
<span class="title"><h1 style="color: black;">{% block title %} GAMEROCK REGISTRATION {% endblock %}</h1></span>
    <div>
        
      <hr>

        <a href="{{ url_for('register.index')}}"><button>Members </button></a> <a href="{{url_for('account.index')}}"><button>Contribution Accounts</button></a><br><br>
        <a href="{{url_for('register.create')}}"><button>New Member</button></a>
        <a href="{{url_for('account.cont')}}"><button>New Contribution</button></a>
    </div>
{% endblock %}